*,
*:after,
*:before {
  box-sizing: border-box;
}
.wd-carusel {
  width: 100%;
  overflow: hidden;
  padding: 10px 5px;
  position: relative;
  counter-reset: items;
}
.wd-carusel__item {
  float: left;
  text-align: center;
  position: relative;
  user-select:none;
}
.wd-carusel__item:before {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  counter-increment: items;
  content: counter(items)
}
.wd-carusel__item > img {
  display: block;
  width: 100%;
  height: auto;
}
.wd-carusel__wrap {
  transition: transform .4s;
}
.wd-carusel__wrap:after {
  display: table;
  clear: both;
  content: '';
}
.wd-carusel__nav--icon {
  display: block;
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  cursor: pointer;
}
.wd-carusel__nav--left {
  left: 10px;
}
.wd-carusel__nav--right {
 right: 10px;
}